<%= stylesheet_link_tag "image.css" %>
<%=image_tag("prof.jpeg", class: "img") %>
<h3 style="text-align: center">Aman Goyal</h3>
<div class="float-container">
    <div class="float-child">
        <%= link_to "Home", home_about_path, class:"nav-link" %>
    </div>
    <div class="float-child">
        <%= link_to "Anime", home_anime_path, class: "nav-link" %>
    </div>
    
    <div class="float-child">
        <a class="nav-item nav-link" href="https://github.com/amangoyal05">Github</a>
    </div>
</div>