<%= stylesheet_link_tag "project.css" %>
<hr>
<div class="intro">
    <h3>Hello!</h3><br>
    I am Aman. I am an undergrad student at Ram Lal Anand College, University of Delhi. I am currently pursing a bachelor's degree in Computer Science.
    I am a huge Anime fan and an avid manga reader. My favourite anime being <b>FullMetal Alchemist: Brotherhood</b> which also happens to be the first anime I watched. I also like spending my time watching cat videos. I loves cats. They are very adorable.

    <br>
    
</div>
<hr>