<%= stylesheet_link_tag "project.css" %>
<hr>
<h3 style="text-align:center">Anime Nerd</h3><br>
<div class="text">
    I love watching anime as they help me to escape from reality and enter a world which is not bound to anything and keeps on increasing exponentially. I have been watching for a very long time (Side Note: Yes, I am a weeb!). It has been one of the best things that has happened to me and I am glad I ended up stumbling on a channel which broadcasted anime in India. :)
    <br>
    The first anime I watched was FullMetal Alchemist: Brotherhood, although you can count Pokemon as the first anime but FullMetal Alchemist: Brotherhood was the anime which made me cling on to anime forever. My second favourite anime is Mob Pyscho 100 and I consider that it is a very under rated anime.
    <br>
    A few anime I love :
    <ul style="list-style-type:none;"><br>
        <li><a href="https://animixplay.to/v1/fullmetal-alchemist-brotherhood">FullMetal Alchemist: Brotherhood</a></li>
        <li><a href="https://animixplay.to/v1/mob-psycho-100">Mob Pyscho 100</a></li>
        <li><a href="https://animixplay.to/v1/akame-ga-kill">Akame ga Kill!</a></li>
        <li><a href="https://animixplay.to/v1/horimiya">Horimiya</a></li>
    </ul>
    These are a few anime which I have loved watching and sometimes I end up rewatching. I would recommend you to watch Mob Pyscho 100 as it is a very light hearted anime which lies in the genre of laughter and supernatural. You can click on the name and it will redirect you to the 1st episode of the respective anime. (PS: I have linked the subbed version of the anime but you can search for the dubbed version of the anime on the website as well. ;) )
</div>
<hr>