.intro{
    padding-top: 1%;
    padding-left: 23%;
    padding-right: 22%;
    font-family: "Times New Roman", Times, serif;
}
hr{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
.text{
    padding-left: 23%;
    padding-right: 22%;
    font-family: "Times New Roman", Times, serif;
}
.posts{
    padding-left: 20%;
    padding-right: 20%;
    font-family: "Lucida Console", "Courier New", "monospace;"
}

a{
    text-decoration: none;
    color: inherit;
}